:root {
  --button-hover: #c0c5d3;
  --button: #eaecf0;

}

.App {
  margin-top: 20px;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_component {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile__img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.links__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.App-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  width: 70%;
  height: 70px;
  border-radius: 10px;
  background: var(--button);
  margin: 10px;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.App-link:hover {
  background: var(--button-hover);
  color: black;
}

.icon__list {
  padding: 10px;
}

.icon__list img {
  padding: 10px;
}

.footer__section {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: white;
  border-top: 1px solid var(--button-hover);
  height: auto;
}

#left__item {
  margin-right: auto;
  align-self: center;
  font-size: 1.2em;
  font-weight: 900;

}

#left__item span {
  color: red;
}

#center__item {
  color: #a1a5ad;
  font-size: 0.8em;
  margin: auto;
  align-self: center;
}

#right__item {
  margin-left: auto;
  align-self: center;
}

@media screen and (max-width:760px) {

  .footer__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #left__item {
    margin-left: auto;


  }

  #center__item {
    margin-left: auto;

  }

  #right__item {
    margin: auto;

  }


}